:root {
    --main-colour: steelblue;
    --alt-colour: navy;
    --light-colour: #f4f4f4;
    --dark-colour: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main-colour);
    color: black;
    
}

h1, h3, h4 {
    text-align: center;
}

h1 {
    margin-top: 10%;
}

h3, h4 {
    margin-top: 5%;
}

.index-link {
    border-top: 1px solid var(--dark-colour);
    padding-top: 10px;
}

ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

li {
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--dark-colour);
    width: 20%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--dark-colour);
}

.price-span {
    color: var(--alt-colour);
}
